*{
    margin: 0 auto;
}
header{
    font-family: Comic Neue;
    width: 90%;
    height: 100%;
}
main{
    width: 90%;
    height: 100%;
    font-family: comic neue;
    background-color: #ffc0cb;
}
main a{
    text-decoration: none;
    color: white;
}
main.div{
    margin: 10px;
    width: 100px;
    height: 50px;
    display: flex;
    align-items: start;
    cursor: pointer;
}
div img{
    height: 30%;
    width: 15%;
    object-fit: contain;
}